@use '../../../node_modules/@oscarpalmer/oui/src/css/reset.scss';
@use '../../../node_modules/@oscarpalmer/oui/src/css/flex.scss';

body {
	display: flex;
	flex-flow: column nowrap;
	background-color: #fdfdfd;
}

.header,
.footer,
.main {
	padding: 1rem;
}

.header {
	border-bottom: 1px solid #ddd;
}

.footer {
	border-top: 1px solid #ddd;
	font-size: .875rem;
	font-style: italic;
}

.main {
	background-color: #f7f7f7;
}
