@import '../../../node_modules/sanitize.css/system-ui';
@import '../../../node_modules/sanitize.css/ui-monospace';
@import '../../../node_modules/sanitize.css/sanitize';
@import '../../../node_modules/sanitize.css/typography';
@import '../../../node_modules/sanitize.css/assets';
@import '../../../node_modules/sanitize.css/forms';
@import '../../../node_modules/sanitize.css/reduce-motion';

* {
  padding: 0;
  margin: 0;
}

html {
  background-color: #dadad0;
}

body {
  max-width: 32rem;
  max-width: 64ch;
  min-height: 100vh;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  color: #4a4a40;
  font-size: 100%;
  line-height: 1.5;
}

.container {
  padding: 1rem;
  padding: clamp(1rem, 10vw, 4rem);
  background-color: #fff;
  border-bottom: 1px solid #dadad0;
}

.header {
  &-title,
  &-description {
    font-size: 1.25rem;
    font-weight: normal;
  }

  &-title {
    margin: 0 0 1rem;
  }

  &-description {
    color: #6a6a60;
    text-transform: lowercase;
  }
}

.content {
  flex: 1;
}

.footer {
  border-bottom: none;
  color: #6a6a60;
  font-size: .875rem;
  font-style: italic;
}

@media screen and (max-width: 512px) {
  .footer {
    background-color: transparent;
  }
}
