<!doctype html>
<html lang="en" dir="ltr">
<head>
  {% include './partials/head.njk' %}
</head>
<body>
  {% include './partials/header.njk' %}
  <main class="container content" role="main">{{ content | safe }}</main>
  {% include './partials/footer.njk' %}
</body>
</html>