---
layout: default
---
<h1 aria-hidden="false" hidden>Cool things I am working on <i>(for myself)</i></h1>

{% if items.length > 0 %}
  <ul>
    {% for item in items %}
      <li>{{ item.path }}: {{ item.title }}</li>
    {% endfor %}
  </ul>
{% else %}
  <p>
    Alas, there are no cool things yet&hellip; but feel free to follow me on
    <a href="https://github.com/oscarpalmer" target="_blank">GitHub</a> or
    <a href="https://twitter.com/ohpalmer" target="_blank">Twitter</a>.<span aria-hidden="true">&nbsp;✌️</span>
  </p>
{% endif %}
