<header class="container header" role="banner">
  <h1 class="header-title">Stuff</h1>
  <p class="header-description"><span aria-hidden="true">&hellip;&nbsp;</span>{{ meta.description }}</p>
</header>